@import url(https://fonts.googleapis.com/css?famil=Roboto);


/*Universal CSS*/

*
{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

input, select, option
{
    color: #222222;
}

ul
{
    list-style: none;
}

a:link, a:visited 
{
    color: yellow;
    text-decoration: none;
}

a:hover 
{
    color: #ffffff;
    text-decoration: underline;
}

a:active
{
    color: white;
}

table, tr
{
    border: 0px;
    padding: 0px;
    margin: 0px;

}

table th, td
{
    border: 0px;
    padding: 3px;
    margin: 0px;
}


table th
{
    border-bottom: 1px solid #ffffff;
}

td
{
    padding: 3px;
}

body
{
    background: #FFE699 url(background.jpg) repeat-x;
    margin: 0px;
    padding: 0px;
    
}

#container
{
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 0px;
    border: 2px solid #9F9784;
    border-top: 0px
}

/*CSS for all header content*/

#header
{
    width: 1000px;
    height: 190px;
    margin: 0px;   
    padding: 0px;
    border-bottom: 3px solid #9F9784;
}

#headerLeft
{
    width: 245px;
    height: 190px;
    margin:0px;
    padding: 0px 0px 0px 5px;
    float: left;
}

#headerRight
{
    width: 750px;
    height: 120px;
    margin: 0px;
    padding: 70px 0px 0px 0px;
    float: right;
}

/*CSS for all body content*/

#body
{
    width: 1000px;
    margin:0px;
    padding:0px;
    background: #6D3E0A;
}

#leftColumn
{
    width: 200px;
    min-height: 250px;
    padding: 5px;
    vertical-align: top;
    border-right: 1px solid #ffffff;
}

#rightColumn
{
    padding: 30px 5px 20px 70px;
}

/* Book Details */

#tbBookDetails
{
    background: #6D3E0A;
    border: 1px solid white;
    margin: 10px 0px 0px 10px;
}

#tbSaveData
{
    margin: 0px 0px 0px 10px;
}

/* Search Result Container */

#resultContainer
{
    border: solid 5px #ffffff;
}

